.about {
    grid-column: 1 / -1;
    grid-row: 1 / span 3;

    display: grid;
    grid-template-columns: 10vw  1fr 10vw;
    grid-template-rows: 10rem min-content;
    grid-auto-rows: 10rem min-content;
    width: 100%;
    max-width: $max-width;

    &__background {
        background-color: #171717;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }

    &__body {
        grid-column: 2 / 3;
        grid-row: 2 / -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: min-content;
        margin-top: 3rem;
    }

    &__profile-pic {
        height: 20rem;
        width: 20rem;
        margin: 0 auto;
        grid-column: 1 / -1;
        border-radius: 100rem;
        margin: 3rem auto;
    }

    &__cavemen {
        height: 20rem;
        width: 20rem;
        margin: 0 auto;
        grid-column: 1 / -1;
        margin: 3rem auto;
    }

    &__header {
        font-size: 4rem;
        text-align: center;
        background: linear-gradient(to right bottom, #FDF11E, #ac8d04);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        grid-column: 1 / -1;
    }

    &__description {
        grid-column: 1 / -1;
        padding: 5rem;
        font-size: 2.5rem;
        letter-spacing: .3rem;
        color: #FDF11E;
    }

    &__buffer {
        grid-row: 4 / 5;
        grid-column: 1 / -1;
        background-color: #171717;
    }
    
    &__images {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content;
        align-items: space-between;
    }
}

.image {
    margin-left: auto;
}
