:root {
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --max-width-lg: 192rem;
    --max-width-md: 120rem;
    --max-width-sm: 60rem;
}

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-white: #fff;
$color-black: #000;

$max-width: var(--max-width-lg);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media (max-width: 900px) {
        font-size: 70%;
    }
}

body {
    font-family: Chelsea Market, Roboto, chinese-rocks, sans-serif;
    min-width: 100vw;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    overflow-x: hidden;
    background: #252525;

}

.container {
    max-width: $max-width;
    width: 100vw;
    display: grid;
    grid-template-rows: 10rem min-content;
    grid-template-columns: 10rem 1fr 10rem;
    margin: 0 auto;
    position: relative;

    // @media (max-width: 600px) {
    //     grid-template-columns: 100vw;
    // }
}