.cavemen {
    
    background-color: #171717;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    min-height: min-content;
    max-width: 192rem;

    display: grid;
    grid-template-columns: 10vw  1fr 10vw;
    grid-template-rows: 10rem min-content min-content;

    &__header {
        padding-top: 10rem;
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        background: linear-gradient(to right bottom, #FDF11E, #ac8d04);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 5rem;
        text-align: center;
        padding: 3vw 10vw;

        &--sub-text {
            font-size: 3rem;
        }
    }

    &__body {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 4rem;
        
        line-height: 0;
        margin-top: 5rem;

        &:last-child {
            margin-bottom: 10rem;
        }
    }

    &__item {
        box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, .2);
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: black;
    }

    &__link:hover {
        cursor: pointer;
    }


    &__img {
        width: 100%;
        border: 3px solid black;
    }
}