.header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 190rem;
    position: fixed;
    z-index: 100;
}

.logo {

    &__box {
        margin: 1.5rem 3rem;
        z-index: 1000;
    }
    
    &__image {
        height: 8rem;
        width: 18rem;
    }

    &__link {
        width: 100%;
    }
}

.nav {
    display: flex;
    
    &__list {
        list-style: none;
        display: flex;
    }
    
    &__item {
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
        font-size: 3rem;
        display: block;
        height: 100%;
        padding: 3rem 4rem;
        transition: all .2s;
        background-image: linear-gradient(to right, #FDF11E, #DEB700);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &__link:hover {
        cursor: pointer;
        font-size: 6rem;
    }

    &__link:active {
        transform: translateY(3px);
    }
}