.rarity {
    grid-column: 1 / -1;
    grid-row: 1 / span 3;

    display: grid;
    grid-template-columns: 15vw  1fr 5vw;
    grid-template-rows: 10rem repeat(138, 5rem);
    grid-auto-rows: 10rem min-content;

    &__background {
        background-color: #171717;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }

    &__body {
        grid-column: 2 / 3;
        grid-row: 2 / -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: min-content;
        margin-top: 10rem;
    }

    &__item {
        height: min-content;
        width: 100%;
        justify-self: center;
        background: linear-gradient(to right bottom, #FDF11E, #ac8d04);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    &__header {
        font-size: 3.2rem;
    }

    &__background-header {
        grid-column: 1 / -1;
        background: linear-gradient(to right bottom, #FDF11E, #ac8d04);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 5rem;
        margin-bottom: 3rem;
        text-align: center;
        margin-left: -20rem;
    }

    &__buffer {
        grid-row: 4 / 5;
        grid-column: 1 / -1;
        background-color: #171717;
    }
}
