.rarity {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    display: grid;
    grid-template-columns: 10rem  1fr 5vw;
    grid-template-rows: 10rem min-content;
    grid-auto-rows: 10rem min-content;
    max-width: $max-width;
    background-color: #171717;

    &__background {
        grid-column: 2 / 3;
        grid-row: 1 / -1;
        background-color: #171717;
    }

    &__body {
        grid-column: 2 / 3;
        grid-row: 2 / -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: min-content;
        margin: 10rem auto;

        @media(max-width: 900px) {
            grid-template-columns: 100%;
            margin: 0 auto;
        }
    }

    &__item {
        height: min-content;
        width: 100%;
        justify-self: center;
        background: linear-gradient(to right bottom, #FDF11E, #ac8d04);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 1.8rem;
        margin-bottom: 1rem;
        padding-right: 1rem;
    }

    &__header {
        font-size: 3.2rem;
    }

    &__background-header {
        grid-column: 1 / -1;
        background: linear-gradient(to right bottom, #FDF11E, #ac8d04);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 5rem;
        margin-bottom: 3rem;
        text-align: center;
        margin-left: -20rem;
    }
}
