.wallet {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-image: url("/img/Crypro\ Caveman\ BG\ V1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: $max-width;
    width: 100%;

    
    &__header {
        margin-top: 20rem;
        font-size: 10rem;
        grid-column: 1 / -1;
        text-align: center;
        background: linear-gradient(to right bottom, #FDF11E, #ac8d04);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        @media (max-width: 750px) {
            font-size: 5rem;
        }
    }

    &__image {
        height: 10rem;
        width: 10rem;
    }

    &__link:link,
    &__link:visited {
        display: inline-block;
        height: 100%;
        padding: 2rem 2rem;
        margin-right: 1rem;
        transition: all .2s;
        background-image: linear-gradient(to right, #FDF11E, #DEB700);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &__link:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    &__link:active {
        transform: translateY(3px);
    }
}
